/* Global Styles */
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
}

/* Logo Styles */
.logo {
  position: fixed; /* Mantém a imagem fixa no canto da tela */
  top: 10px; /* Ajuste conforme necessário */
  right: 10px;
  width: auto; /* Mantém a largura original */
  height: 100px; /* Ajuste para aumentar/diminuir */
  max-width: 90%; /* Evita que a imagem ultrapasse a tela */
}

/* Container with the background image */
  .container {
  background: url('https://i.postimg.cc/QxwGHbxJ/terraria.gif') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content div for text and button */
.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #ff411b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1ABC9C;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
}
